{
  "extends": [
    "plugin:mozilla/recommended"
  ],
  "plugins": [
    "mozilla"
  ],
  "globals": {
    "exports": true,
    "isWorker": true,
    "loader": true,
    "module": true,
    "reportError": true,
    "require": true,
  },
  "rules": {
    "mozilla/no-define-cc-etc": "off",
    // Can't use Cc, etc. shortcuts yet, requires Firefox 60
    "mozilla/use-cc-etc": "off",
    // Can't use ChromeUtils yet, requires Firefox 60
    "mozilla/use-chromeutils-import": "off",
    "no-unused-vars": ["error", {"vars": "all", "args": "none"}],
  },
}
